/* color #F7A219 */

@font-face {
    font-family: 'imported';
    src: url(font.woff2);
}
html, body {
    margin: 0px;
    padding: 0px;
}
div, button, input {
    font-family: "imported", sans-serif;
}

#noFooter {
    overflow: auto;
    min-height: calc(100vh - 96px);
    background: #F7A219;
}
#logo {
    overflow: hidden;
    height: 300px;
    min-height: 50vh;
}
#logo div {
    height: 100%;
    background: url(svg.svg) center/contain no-repeat;
    animation: rotate 600s linear infinite;
}
h1 {
    margin-top: 80px;
    text-align: center;
    font-weight: normal;
    font-size: 5vw;
}
#footer {
    overflow: auto;
    height: 96px;
    background: #F7A219;
}
#footer div {
    margin-top: 36px;
    text-align: center;
}
#footer a {
    margin: 0px 2vw;
    padding: 2px;
    color: black;
    text-decoration: none;
    outline: 0;
}
#footer a:focus {
    text-decoration: underline;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@media (hover: hover) {
    #footer a:hover {text-decoration: underline;}
}